/* Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body { 
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material overrides */
.mat-mdc-card {
  --mdc-elevated-card-container-color: white;
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}